---
import { Image } from "astro:assets";
import type { Player } from "../models/player";
import api from "@/services/api";

interface Props {
  player: Player;
}

const { player } = Astro.props;
const { id, name, firstname, lastname, age, birth, nationality, height } =
  player;

const playerPhotoURL = api.getPlayerPhotoURL(id);
---

<a href={`players/${id}`}>
  <article class="flex flex-col gap-2 p-4">
    <header>
      <h2>{name}</h2>
    </header>
    <Image
      src={playerPhotoURL.toString()}
      alt={`Profile photo of ${name}`}
      width={150}
      height={150}
      loading={"lazy"}
    />
    <div class="flex flex-col gap-2">
      {age && <span>Age: {age}</span>}
      {nationality && <span>Nationality: {nationality}</span>}
      {height && <span>📏: {height}</span>}
    </div>
  </article>
</a>
